<div class="row bg-light login rounded tabcontent">
  <div class="panel ">
    <div class="panel-heading" style="margin-left:20%;font-size: 17px; color: rgb(76, 81, 82)"><i>Change Password</i></div>
    
    <div class="panel-body">
        
      <div class="col ">
          <hr><form (ngSubmit)="onSubmit(f)" #f=ngForm>
          <div class="form-group ">
            <label for="currentPassword" style="margin-top: 12px">Current Password</label>
            <input type="password" ngModel name="currentPassword"class="form-control"   
             placeholder="Enter current password">
            
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" ngModel name="newPassword" class="form-control"  placeholder="Enter new password">
          </div>

          <div class="form-group">
            <label for="confirmNewPassword">New Password</label>
            <input type="password" ngModel name="confirmNewPassword" class="form-control"  placeholder="Enter new password again">
          </div>
          <hr>
          <button type="submit"  class="btn btn-secondry" style="margin-bottom: 14px;" >Change Password</button>

        </form>

        
      </div>
    </div>
  </div>
</div>