.grad{
            background: linear-gradient(to bottom,rgba(10, 168, 241, 0.582),rgb(59, 104, 124));
            margin-bottom: .1%;
        
        }
.center {
    margin: 0 auto;
    margin-top: 3%;
    width: 40%;
}