<div class="container bg-light" style="padding-top: 60px;">
    <h1 class="page-header">Profile</h1>
    <div class="row">
    
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center profile-pic">
          <img src="./assets/road-min.jpg" class=" avatar img-rounded img-circle img-thumbnail " alt="avatar">
        </div>
      </div>
     
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">User Name :</label>
                <div class="col-lg-8">
                  <input class="form-control" value="Naman123" type="text" disabled>
                </div>
              </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" placeholder="First Name" value="Naman" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" placeholder="Last Name"value="Gupta" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone Number :</label>
            <div class="col-lg-8">
              <input class="form-control" placeholder="ex : 9887124323" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" placeholder="abc@xyz.com" value="nammu.neema@gmail.com" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">DOB</label>
            <div class="col-lg-8">
              <input class="form-control" type="date" >
              </div>
            
          </div>
          
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button">
              <span></span>
              <input class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>