
<div class="col-lg-6 col-sm-6 dashboard">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" src="../assets/385545.jpg" alt="" >
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img class = "square" alt="" src="../assets/385545.jpg">
        </div>
        <div class="card-info "> <span class="card-title">{{ userBasic.userName }}</span>

        </div>
    </div>
    

     <ul class="nav nav-pills bg-light">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#userProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#bookedRide">Booked Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#offeredRide">Offered Ride</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content bg-light">
        <div class="tab-pane active container" id="userProfile">
            <div class="table-responsive">
            <table class="table">
                <tr><td>Name</td> <td><i>{{ (userBasic.firstName +" " +userBasic.lastName) }}</i></td></tr>
                <tr><td>Gender</td> <td>{{ userBasic.gender }}</td></tr>
                <tr><td>Email</td> <td>{{ userBasic.email }}</td></tr>
                <tr><td>Gender</td> <td>{{ userBasic.contactNo }}</td></tr>
            
            </table>
        </div>
        </div>
        <div class="tab-pane container" id="bookedRide">Booked ride</div>
        <div class="tab-pane container" id="offeredRide">Offered Ride details</div>
      </div>
     
      
           
    