<div class="row searchHome">
  <div class="col">
    <form action="/Result" class="form-inline">
      <input class="form-control" type="search" name="source" id="source"  placeholder="Leave From" required="">
      &emsp;<input class="form-control" type="search" name="destination" id="destination"  placeholder="Going To" required="">
      &emsp;<input class="form-control" type="date" name="date" id="date"  placeholder="Going To" required="">
      
      &emsp;<button class="btn btn-primary" type="submit">
          <i>Search</i>
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
  </div>
</div>

