<br>

<div class=" row bg-light registration rounded tabcontent">
    <div class="col">
        <form action=""  id="fileForm" role="form" (ngSubmit) = "onSubmit(f)" #f=ngForm>
            <fieldset>
                <legend class="text-center"><i>Registration</i><span class="req"></span></legend>
                <hr>
                <div>
                <div class="form-group" ngFormGroup="user">
                        <label for="userName"> User name :  </label> 
                        <input class="form-control" type="text" ngModel name="username" id="userName"  placeholder="minimum 6 letters" required="" ngFormGroup="login">  
                        <div id="userNameError"></div>
                </div>     
        
                <div class="form-group" ngFormGroup="user"> 	 
                    <label for="firstName"> First name : </label>
                    <input class="form-control" type="text" ngModel name="firstName" id="firstName"  required=""> 
                    <div id="firstNameError"></div>    
                </div>

                <div class="form-group" ngFormGroup="user">
                    <label for="lastName"> Last name : </label> 
                    <input class="form-control" type="text" ngModel name="lastName" id="lastName"  required="">  
                    <div id="lastNameError"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="form-group " ngFormGroup="user">
                    <label for="gender"style="position:relative; left :10% ;margin-bottom: 10%">Select Gender</label>
                    <div class="radio col-md-12 form-inline"  >

                        <div *ngFor="let gender of genders">
                            <input type="radio" name="gender" ngModel [value]="gender" required>
                            {{ gender }}&emsp;
                        </div>
                        
                    </div>
                </div>
                    
                    <div class="radio col-sm-6" style="position:relative; left: 10%; " ngFormGroup="user">
                            <label for="phoneNumber" > Phone Number : </label>
                            <input required="" type="text" ngModel name="phoneNumber" id="phoneNumber" class="form-control input-sm "  placeholder="Enter your phone Number">
                            <div id="phoneNumberError"></div>
                    </div>
                </div>
                <div class="form-group" ngFormGroup="user">
                    <label for="email" > Email Address : </label> 
                    <input class="form-control" required="" type="email" ngModel name="email" id="email">   
                    <div id="emailError"></div>
                </div>

            </div>
            
                <div class="form-group" ngFormGroup="login">
                    <label for="password">Password : </label>
                    <input required="" ngModel name="password" type="password" class="form-control " minlength="4" maxlength="20" id="password"> 
                    <div id="password"></div>

                    <label for="password"> Password Confirm : </label>
                    <input required="" ngModel name="password" type="password" class="form-control " minlength="4" maxlength="20" placeholder="Enter again to validate" id="pass2" >
                    <div id="confirmPassword"></div>
                </div>
               

                <div class="form-group ">
                    
                    <hr>

                    <input type="checkbox" required="" ngModel name="terms"  id="field_terms"> &nbsp; <label for="terms">I agree with the terms and conditions for Registration.</label>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit"  name="submit_reg" value="Register">
                </div>
                    
        </fieldset>
        </form>

    </div>

</div>






